/* font-family: 'Calistoga',
cursive;
font-family: 'Libre Baskerville',
serif;
font-family: 'M PLUS 1p',
sans-serif;
font-family: 'Nunito',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Roboto Serif',
serif; */
.nav-bar {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(117, 181, 117);
  font-family: 'Nunito',
    sans-serif;
  font-weight: 400;
}

.nav-bar li {
  margin: 15px;
  font-size: 18px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: rgb(78, 122, 78);
}

.header {
  text-align: center;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  font-size: 40px;

}

.header img {
  width: 200px;

}

.homepage-container button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(55, 113, 55);
  background-color: rgb(117, 181, 117);
  display: block;
  margin: 0 auto;
}

.homepage-container a {
  text-decoration: none;
  color: white;
}

/* font-family: 'Calistoga',
cursive;
font-family: 'Libre Baskerville',
serif;
font-family: 'M PLUS 1p',
sans-serif;
font-family: 'Nunito',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Roboto Serif',
serif; */
.nav-bar {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(117, 181, 117);
  font-family: 'Nunito',
    sans-serif;
  font-weight: 400;
}

.nav-bar li {
  margin: 15px;
  font-size: 18px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: rgb(78, 122, 78);
}

.header {
  text-align: center;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  font-size: 40px;

}

.header img {
  width: 200px;

}

.homepage-container button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(55, 113, 55);
  background-color: rgb(117, 181, 117);
  display: block;
  margin: 0 auto;
}

.homepage-container a {
  text-decoration: none;
  color: white;
}