/* font-family: 'Calistoga',
cursive;
font-family: 'Libre Baskerville',
serif;
font-family: 'M PLUS 1p',
sans-serif;
font-family: 'Nunito',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Roboto Serif',
serif; */
.nav-bar {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(117, 181, 117);
  font-family: 'Nunito',
    sans-serif;
  font-weight: 400;
}

.nav-bar li {
  margin: 15px;
  font-size: 18px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: rgb(78, 122, 78);
}


.header {
  text-align: center;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  font-size: 40px;

}

.header img {
  width: 200px;

}

.homepage-container button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(55, 113, 55);
  background-color: rgb(117, 181, 117);
  display: block;
  margin: 0 auto;
}

.homepage-container a {
  text-decoration: none;
  color: white;
}

/* font-family: 'Calistoga',
cursive;
font-family: 'Libre Baskerville',
serif;
font-family: 'M PLUS 1p',
sans-serif;
font-family: 'Nunito',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Roboto Serif',
serif; */
.nav-bar {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(117, 181, 117);
  font-family: 'Nunito',
    sans-serif;
  font-weight: 400;
}

.nav-bar li {
  margin: 15px;
  font-size: 18px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: rgb(78, 122, 78);
}

.header {
  text-align: center;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  font-size: 40px;

}

.header img {
  width: 200px;

}

.homepage-container button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(55, 113, 55);
  background-color: rgb(117, 181, 117);
  display: block;
  margin: 0 auto;
}

.homepage-container a {
  text-decoration: none;
  color: white;
}

.quiz-container {
  margin: 0 auto;
  background-color: #D2DCE5;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.quiz-container img {
  position: fixed;
  z-index: -1;
  margin-right: -60px;
  width: 400px;
  right: 0;
  bottom: 0;
}

.quiz-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.548);
  padding: 30px;
  border-radius: 20px;
}

.detail-form {
  text-align: center;
}

.detail-form input {
  margin: 10px;
}

.detail-form .text-input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid rgb(117, 181, 117);
  padding: 5px;
  font-size: 16px;
}

.detail-form .button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgb(117, 181, 117);
  background-color: ghostwhite;

}

.capitalise {
  text-transform: capitalize;
}

.quiz-questions input,
.quiz-questions label {
  margin: 5px;
  font-size: 16px;
}

.quiz-questions {
  font-size: 22px;
}




footer {
  width: 100vw;
}